body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 0 0;
}

button {
    position: absolute;
}

.center-vertical {
    position: fixed;
    width: 3px;
    height: 100vh;
    left: 50%;
    background-color: green;
    transform: translate(-50%, 0);
    transition: height 2s;
}

.center-horizontal {
    position: fixed;
    width: 100vw;
    height: 3px;
    top: 50%;
    background-color: green;
    transform: translate(0, -50%);
}

.wrapper {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.dot {
    z-index: 3;
    grid-row: 1;
    grid-column: 1;
}

#clock-face {
    margin: 0 auto;
    grid-row: 1;
    grid-column: 1;
}

.hands {
    position: relative;
    grid-row: 1;
    grid-column: 1;
    display: grid;
    justify-items: center;
    align-items: end;
    align-content: center;
    bottom: 150px;
}

.hands>* {
    transform-origin: 50% 100%;
}

#sec-hand {
    z-index: 4;
    grid-column: 1;
    grid-row: 1;
    transition: 1s;
    transform: rotate(0deg);
}

#min-hand {
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
    transition: 1s;
    transform: rotate(0deg);
}

#hour-hand {
    z-index: 1;
    grid-column: 1;
    grid-row: 1;
    transition: 1s;
    transform: rotate(0deg);
}

#sec-hand:hover {
    transform: rotate(360deg);
}
